@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
body {
  font-family: Montserrat;
}
form,
button {
  text-align: center;
  margin: auto;
  margin-left: 20px;
}
.result {
  text-align: center;
  font-family: Montserrat;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.result li {
  padding-top: 10px;
  padding-left: 10px;
  list-style: none;
}
.result li:hover {
  background-color: #ffe81f;
  cursor: grab;
}
.pre {
  display: flex;
  justify-content: center;
}
b {
  font-family: Montserrat;
}
.but {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
