@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Press+Start+2P&display=swap");
// @import url("https://fonts.cdnfonts.com/css/star-wars");
h1 {
  color: #4d3e3e;
  font-family: "Press Start 2P", cursive;
  font-weight: bolder;
  // font-family: "Star Wars", sans-serif;
}
.name {
  color: #ff8a5c;
}
h1,
li {
  font-family: "Press Start 2P", cursive;
  // font-family: Montserrat;
  font-weight: bolder;
  text-align: center;
}
li a {
  text-decoration: none;
  color: #ffe81f;
}
li {
  list-style: none;
  display: inline;
  padding-right: 30px;
  text-align: center;
}
.nav {
  text-align: center;
}
ul {
  text-align: center;
  padding-top: 30px;
}
.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button4 {
  border-radius: 20px;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  padding-left: 10px;
  padding-right: 10px;
  color: #4d3e3e;
}
