<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <h1>LAB8</h1>
  <h1 class="name">632110149 Doolyawit Yodkaew</h1>
  <nav>
    <ul>
      <li>
        <button class="button button4"><a routerLink="star-war" routerLinkActive="st-active">Star War</a></button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
<footer>

</footer>

</html>